<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>navbar}}

    <section class="containter-fluod main_header">
        <div class="row ">
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img width="200px" src="../public/images/about.png" alt="">
                </figure>
            </div>

            <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to weather app</p>
                <h1>I am <span>MERN</span> Stack Developer <br> and <span>Cyber Security Engineer</span></h1>
                <a href="https://www.linkedin.com/in/rohit-dhillon-bug20421/"><button>About me</button></a>
            </div>
        </div>
     </section>

    {{>footer}}
</body>
</html>